# Ignore node_modules at the root and in any subdirectories
node_modules
**/node_modules

# Ignore Git files
.git
.gitignore

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore other common files/folders you don't want in the image
.vscode
# *.env
npm-debug.log
yarn-error.log

# If you have frontend build artifacts in the context that are not needed for this image
# frontend/dist
# frontend/build